.nav-bar {
    display: flex;
    gap: 50px;
    padding: 0px;
    box-shadow: 1px 0px 1px 1px;
    align-items: center;
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    z-index: 113545;
}

.nav-bar Link {
    text-decoration: none;
}

.nav-items {
    display: flex;
    gap: 20px;
    font-weight: 600;
    font-size: 14px;
    align-items: center;
    cursor: pointer;
}

.nav-items li {
    list-style: none;
}

.nav-items2 {
    display: flex;
    gap: 20px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    padding-left: 10px;
}

.nav-items2 li {
    list-style: none;
}

.nav-logo {
    padding-left: 20px;
}

.nav-logo img {
    height: 80px;
    width: 100px;
    cursor: pointer;
}

.nav-search input {
    width: 450px;
    height: 35px;
    border: none;
    background-color: rgba(238, 237, 237, 0.889);
    font-size: 14px;
}

.font-icon {
    text-align: center;
    position: relative;
}
.cart-length{
    position: absolute;
    bottom: 30px;
    left: 25px;
    border:none;
    border-radius:20px;
    padding: 3px 7px;
    background-color: blueviolet;
    color: white;
}