.profile-data .profile-imag {
    height: 300px;
    width: 300px;
    padding: 50px;
}

.close {
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 390px;
    left: 680px;
}

.profile-data button {
    border: none;
    background-color: crimson;
    color: white;
    font-weight: 800;
    padding: 13px 30px;
    border-radius: 3px;
    margin-left: 290px;
    margin-bottom: 10px;
}

.profile-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:500px) {
    .profile-data .profile-imag {
        height: 150px;
        width: 150px;
        padding: 20px;
    }

    .close {
        height: 20px;
        width: 20px;
        position: relative;
        bottom: 190px;
        left: 425px;
    }
    .profile-data button {
        border: none;
        background-color: crimson;
        color: white;
        font-weight: 800;
        padding: 13px 30px;
        border-radius: 3px;
        margin-left: 150px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width:550px){
    .profile-data .profile-imag {
        height: 150px;
        width: 150px;
        padding: 20px;
    }

    .close {
        height: 20px;
        width: 20px;
        position: relative;
        bottom: 190px;
        left: 450px;
    }
    .profile-data button {
        border: none;
        background-color: crimson;
        color: white;
        font-weight: 800;
        padding: 13px 30px;
        border-radius: 3px;
        margin-left: 150px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width:450px){
    .profile-data .profile-imag {
        height: 120px;
        width: 120px;
        padding: 20px;
    }

    .close {
        height: 20px;
        width: 20px;
        position: relative;
        bottom: 150px;
        left: 420px;
    }
    .profile-data button {
        border: none;
        background-color: crimson;
        color: white;
        font-weight: 800;
        padding: 13px 30px;
        border-radius: 3px;
        margin-left: 130px;
        margin-bottom: 10px;
    }
}